<!doctype html>
<html lang="en" ng-app="demo">
<head>
  <meta charset="UTF-8">
  <title>Angular swfupload</title>
  <script type="text/javascript" src="http://blueimp.github.io/JavaScript-MD5/js/md5.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../lib/swfupload.js"></script>
  <script src="../src/angular-swfupload.js"></script>
  <script>
  angular.module('demo', ['angular.swfupload']).
  config(['uiSwfuploadOptionsProvider', function(uiSwfuploadProvider) {
    uiSwfuploadProvider.setOption({
        flash_url: '../lib/swfupload.swf'
    });


  }]).
  controller('demoCtrl', ['$scope', function($scope) {
    $scope.config = {
        file_post_name: 'file'
    }

    $scope.upyun = {
        options: {
          "bucket": 'lisposter',
          "save-key": '/test000.png',
          "expiration": 10000000000000000
        },
        "form_api_secret": ''
    }

    $scope.upload = function() {
      $scope.input.startUpload();
    }

  }]);
  </script>
</head>
<body ng-controller="demoCtrl">

<h1>Angular swfupload Demo</h1>

<form action="">
  <label for="">file: <input type="file" ui-swfupload swf-option="config" upyun="upyun" id="input" ng-model="input"></label>

  <button ng-click="upload()">upload</button>


</form>

</body>
</html>
